@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: Raleway, san-serif;
  font-size: 1.5em;
  text-align: center;
  background: #502d7e;
  color: #fff;
}


